@import './colors.scss';

.create-note-form-control {
  margin: 5px;
  padding: 10px;
  min-width: 700px;
  border: 2px solid $card-border-color;
}

.create-note-rows {
  margin: 5px;
  padding: 5px;
}

.form-fields {
  margin: 10px;
  padding: 10px;
}