@import './colors.scss';

.note-boxes {
  min-width: 100px;
  min-height: 200px;
  border: 1px solid maroon;
  border-radius: 10px;
}

.btn-circle {
  border-radius: 50%;
}

.card {
  min-width: 23rem;
  min-height: 10rem;
  margin: 10px;
  border-radius: 10px;
  border: 1px solid $card-border-color;
}