@import './colors.scss';

.forgot-password-header {
  font-family: Arial, Helvetica, sans-serif;
  font-size: x-large;
  font-weight: bold;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.forgot-password-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.forgot-password-card-wrapper {
  display: flex;
  justify-content: space-center;
  align-items: center;
  margin: auto;
  padding: 20px;
  max-height: 500px;
  max-width: 700px;
  border-radius: 5px;
  border: 2px solid $card-border-color;

  .forgot-password-form {
    width: 300px;
  }
}

.forgot-password-sub-header {
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  font-weight: lighter;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.forgot-password-error {
  color: $error-color;
}
