@import './colors.scss';

.header-right-icons {
  font-size: large;
}

.header-wrapper {
  width: 100%;
  height: 100%;
}

.hearder-searchbar {
  min-width: 300px;
  max-width: 500px;
}

.navbar {
  border-bottom: 2px solid $card-border-color;
}

.btn {
  box-shadow: none;
  outline: none !important;
  border: none;
}