@import './colors.scss';

* {
  margin: 0;
  padding: 0;
  // background: $dark-mode-background;
  // color: $white-text-color;
}

.error-message {
  color: $error-color;
  font-size: small;
}

.link-buttons {
  background-color: transparent;
  border-color: transparent;
  color: $link-color;
  padding-left: 0;
}

.link-buttons:hover {
  background-color: transparent;
  border-color: transparent;
  color: $link-color;
}

textarea {
  outline: none;
  border: none;
  resize: none;
}